<% content_for :for_head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<!-- Background video -->
<video id="background-video" autoplay loop muted>
             <source src="https://thumbs.gfycat.com/RemoteImpishBlackbear-mobile.mp4" type="video/mp4">
</video>

<!-- la gride de trajictoire -->
<section id=timeline>
	<h1>Trajectory of Your Space 🚀Ship🚀</h1>
	<div class="demo-card-wrapper" data-controller="auto-scroll" data-action="window->auto-scroll#scroll">


  <% @games.each_with_index do |game, index| %>

    <div class='demo-card <%= @demo_cards[index % @demo_cards.size ] %>'>
      <div class="container">

        <% if game.no_question?(current_user) %>
          <div class='card bg-dark'>
            <% if game.photo_game.attached? %>
              <div class="imgBx ">
                <%= cl_image_tag(game.photo_game.key,
                      width: 400, height: 400, crop: :fit) %>
              </div>
            <% end %>
            <div class="contentBx ">
              <h2>Level <%= index + 1 %></h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1..game.questions.count) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <% for i in(1..index+1) do %>
                  <span></span>
                <% end %>
              </div>
              <h3>There are no question</h3>
            </div>
          </div>

        <% elsif game.over?(current_user) %>
          <div class='card bg-secondary'>
            <% if game.photo_game.attached? %>
              <div class="imgBx ">
                <%= cl_image_tag(game.photo_game.key,
                      width: 400, height: 400, crop: :fit) %>
              </div>
            <% end %>
            <div class="contentBx ">
              <h2>Level <%= index + 1 %></h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1..game.questions.count) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <% for i in(1..index+1) do %>
                  <span></span>
                <% end %>
              </div>
              <h3>Level cleared</h3>
              <% questions = current_user.remaining_questions(game) %>
              <%= link_to "Retry", reset_game_path(game.id), data:{turbo_method: :patch}, class: "btn" %>
            </div>
          </div>

        <% else %>
          <div class="card <%= @card_bg_colors[index % @card_bg_colors.size] %>" data-auto-scroll-target=button>
            <% if game.photo_game.attached? %>
              <div class="imgBx ">
                <%= cl_image_tag(game.photo_game.key,
                      width: 400, height: 400, crop: :fit) %>
              </div>
            <% end %>
            <div class="contentBx ">
              <h2>Level <%= index + 1 %></h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1..game.questions.count) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <% for i in(1..index+1) do %>
                  <span></span>
                <% end %>
              </div>
                <% questions = current_user.remaining_questions(game) %>
                <%= link_to "Start Now", game_question_path(game, questions[0]),class: "btn" %>
            </div>
          </div>
        <% end %>

      </div>
		</div>

  <% end %>

	</div>
</section>
