<!-- Background video -->
<video id="background-video" autoplay loop muted>
             <source src="https://thumbs.gfycat.com/RemoteImpishBlackbear-mobile.mp4" type="video/mp4">
</video>

<!-- la gride de trajictoire -->
<section id=timeline>
	<h1>Trajectory of Your Space 🚀Ship🚀</h1>
	<p class="leader">🚀 ☄️ Space is the zone above and around our planet where there is no air to breathe or to scatter light ☄️ 🚀</p>
	<div class="demo-card-wrapper">


    <div class="demo-card demo-card--step1">
      <div class="container">
          <div class="card bg-primary">
            <div class="imgBx ">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Earth_Western_Hemisphere_transparent_background.png/1200px-Earth_Western_Hemisphere_transparent_background.png?20150429101758">
            </div>
            <div class="contentBx ">
              <h2>Level 1</h2>
              <div class="size">
                <h3>Questions:</h3>
                <span>1</span>
                <span>2</span>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
              </div>
              <% user = current_user %>
              <% questions = user.remaining_questions(@games[0]) %>
              <% if questions.empty? %>
                <h3>You cleared this level</h3>
              <% else %>
                <%= link_to "Start Now", game_question_path(@games[0], questions[0]),class: "btn" %>
              <% end %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="container">
          <div class="card bg-success">
            <div class="imgBx">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Mars_transparent.png">
            </div>
            <div class="contentBx">
              <h2>Level 2</h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1...4) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
                <span></span>
              </div>
              <% user = current_user %>
              <% questions = user.remaining_questions(@games[1]) %>
              <% if questions.empty? %>
                <h3>You cleared this level</h3>
              <% else %>
                <%= link_to "Start Now", game_question_path(@games[1], questions[0]),class: "btn" %>
              <% end %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="container">
          <div class="card bg-warning">
            <div class="imgBx ">
              <img src="http://wiki.bacterialtakeover.com/images/4/41/Mercury.png">
            </div>
            <div class="contentBx ">
              <h2>Level 3</h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1..4) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <% for i in(1...4) do %>
                  <span></span>
                <% end %>
              </div>
              <% user = current_user %>
              <% questions = user.remaining_questions(@games[2]) %>
              <% if questions.empty? %>
                <h3>You cleared this level</h3>
              <% else %>
                <%= link_to "Start Now", game_question_path(@games[2], questions[0]),class: "btn" %>
              <% end %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="container">
          <div class="card bg-info">
            <div class="imgBx ">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Lava_planet.png">
            </div>
            <div class="contentBx ">
              <h2>Level 4</h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1..5) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <% for i in(1..4) do %>
                  <span></span>
                <% end %>
              </div>
              <% user = current_user %>
              <% questions = user.remaining_questions(@games[3]) %>
              <% if questions.empty? %>
                <h3>You cleared this level</h3>
              <% else %>
                <%= link_to "Start Now", game_question_path(@games[3], questions[0]),class: "btn" %>
              <% end %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="container">
          <div class="card bg-danger">
            <div class="imgBx ">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Saturn-148300.svg/1280px-Saturn-148300.svg.png">
            </div>
            <div class="contentBx ">
              <h2>Level 5</h2>
              <div class="size">
                <h3>Questions:</h3>
                <% for i in(1..7) do %>
                  <span><%= i %></span>
                <% end %>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <% for i in(1..5) do %>
                  <span></span>
                <% end %>
              </div>
              <% user = current_user %>
              <% questions = user.remaining_questions(@games[4]) %>
              <% if questions.empty? %>
                <h3>You cleared this level</h3>
              <% else %>
                <%= link_to "Start Now", game_question_path(@games[4], questions[0]),class: "btn" %>
              <% end %>
            </div>
          </div>
      </div>
		</div>

	</div>
</section>
