<!DOCTYPE html>
<html>
  <head>
    <title>Spacekids</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://space-kids.herokuapp.com/space-ConvertImage (2).ico"/>
    <link rel="apple-touch-icon" href="https://space-kids.herokuapp.com/space-ConvertImage (2).ico"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
